<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M"
	crossorigin="anonymous">
<header></header>
<div class="container">
	<div class="row">
		<div class="col">
			<h2>{{$ctrl.currentCampaign.name}}</h2>
		</div>
		<div class="col">
			<div class="btn-group">
				<button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Change Campaign
				</button>
				<div class="dropdown-menu">
					<a class="dropdown-item" ng-repeat="campaign in $ctrl.campaigns" ui-sref="campaign-stats({campaignId: campaign.id})">{{campaign.name}}</a>
				</div>
			</div>

			<a type="button" class="btn btn-light" ui-sref="campaigns-list">
				All Campaigns
			</a>
		</div>
	</div>

	<div class="row">
		<img src="chart-mock.png" />
	</div>
</div>
