<div class="container">
    <div class="row">
        <div class="col">
            <h2>{{$ctrl.currentCampaign.name}}</h2>
        </div>
        <div class="col">
            <div class="btn-group">
                <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Change Campaign
                </button>
                <div class="dropdown-menu">
                    <button class="dropdown-item" ng-repeat="campaign in $ctrl.campaigns" ng-click="$ctrl.setCurrentCompaign(campaign.id)">{{campaign.name}}</button>
                </div>
            </div>

            <a class="btn btn-light" ui-sref="campaigns-list">
                All Campaigns
            </a>
        </div>
    </div>
    <div class="row chart-container">
        <highchart config="$ctrl.chartConfig"></highchart>
    </div>
</div>
